* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* grid area */

#grilla {
    display: grid;
    grid-template-areas: 
    "header header"
    "h1 h1"
    "div div"
    "main main"
    "footer footer";
    grid-template-rows: 10% 35% 20% 25% 10%;
    grid-template-columns: 100%;
}

header {
    grid-area: header;
}

.tituloprincipal {
    grid-area: h1;
    font-size: 120px;
    padding: 50px;
    text-align: center;
}

.homesubtitulo {
    grid-area: div;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}

.presentacion {
    grid-area: main;
}

.pie {
    grid-area: footer;
    text-align: center;
}

/* fin grid area */

.body-index {
    background-image: url(../images/portada3.1.jpg);
    height: 100vh;
    width: 100vh;
    background-size: cover;
}

.navbar {
    width: 100vh;
}

.pie__2 {
    align-content: center;
}

/* extend */

.titulo {
    padding: 40px;
    text-align: center;
}

.tituloprincipal {
    @extend .titulo;
    font-family: "lato";
}

/* mixins */

@mixin main {
    font-size: 18px;
    text-align: center;
}
.presentacion {
    @include main;
    padding: 30px;
}

/* media queries */

@media screen and (max-width: 768px) {


    .body-index {
        background: url(../images/portadamedia.jpg);
        width: 100vw;
    }

    .navbar {
        grid-area: header;
        width: 100vw;
    }

    .tituloprincipal {
        grid-area: h1;
        width: 100vw;
        font-size: 90px;
    }

    .homesubtitulo {
        grid-area: div;
        width: 100vw;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .presentacion {
        grid-area: main;
        width: 100vw;
        margin-top: 0px;
        margin-top: 0px;
    }

    .pie {
        grid-area: footer;
        width: 100vw;
        background-color: rgb(255, 248, 220);
        margin-bottom: 0%;
        margin-top: 90px;
    
    }
}