* {
    margin: 0;
    padding: 0;
}

/* background image */
.body-index {
    background: url(./images/portada2.jpg);
    height: 100vh;
    width: 100vh;
    background-size: cover;
}

.navbar {
    width: 100%;
}

.tituloprincipal {
    margin-top: 70px;
    font-size: 120px;
}

.presentacion {
    font-size: 20px;
}

footer {
    width: 100%;
    margin-bottom: 0vh;
    background: cornsilk;
}

/* animaciones */

@keyframes mi-efecto {
    0% { 
        width: 0%;
    }
    100% { 
        width: 100%;
    }
}

.titulo {
    background-color: rgba(233, 228, 180, 0.966);
    width: 100%;
    animation-name: mi-efecto;
    animation-duration: 3s;
    animation-delay: 0;
    animation-iteration-count: initial;
}

@media only screen and (max-width: 768px) {
    .body-index {
        background-image: none;
        background-color: #F7EBBE;
    }

    .tituloprincipal {
        margin-top: 0px;
    }

    .presentacion {
        margin-top: 10px;
    }
   
    footer {
        margin-top: 435px;
        background-color: whitesmoke;
    }

    .body-contacto {
        background-image: linear-gradient(#F7E6A6, whitesmoke);
    }
}